     $maincolor: red;
     $mainsize: 24px;
     .main {
         color: #f5bebe;
         font-size: $mainsize +20;
     }
     
     @mixin size($s) {
         font-size: $s;
     }
     
     @for $i from 1 through 5 {
         .c#{$i} {
             font-weight: 1000 - 150*$i;
             @include size(30px - 4*$i);
         }
     }
     
     p {
         @if $mainsize==20px {
             color: $maincolor;
         }
         @else {
             color: #6b4eeb;
         }
     }
     
     a {
         color: $maincolor;
         @include size(60px);
     }
     
     ol {
         li {
             color: rgba(51, 54, 238, 0.6);
             @include size(30px);
         }
         h3 {
             @extend .main;
         }
     }